:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --dark-blue: hsl(224, 30%, 27%);
  --gradient-1: hsla(256, 72%, 46%, 1);
  --gradient-2: hsla(241, 72%, 46%, 0);
  --light-lavender: hsl(241, 100%, 89%);
  --pale-blue: hsl(221, 100%, 96%);
  --white: hsl(0, 0%, 100%);
  --background-result-1: hsl(252, 100%, 67%);
  --background-result-2: hsl(241, 81%, 54%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.primary-heading {
  font-size: 2.4rem;
}

.main {
  max-width: 80rem;
  display: flex;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
}

.main > * {
  padding: 4rem;
}

.result {
  flex: 1 1 50%;
  background-image: linear-gradient(
    var(--background-result-1),
    var(--background-result-2)
  );
  color: var(--light-lavender);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  border-radius: 4rem;
}

.result .result-text {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white);
}

.result .result-summary {
  padding: 0 2.4rem;
}

.score-display {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: linear-gradient(var(--gradient-1), var(--gradient-2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.score-display .score {
  color: inherit;
  font-weight: 700;
}

.score-display .score span {
  display: block;
  font-size: 7.2rem;
  font-weight: 800;
  color: var(--white);
}

.summary {
  flex: 1 1 50%;
  border-radius: 4rem;
}

.summary-heading {
  color: var(--dark-blue);
  padding-bottom: 2rem;
}

.summary-score {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.6rem;
  border-radius: 6px;
  margin-bottom: 1.6rem;
  color: var(--dark-blue);
  font-weight: 700;
}

.summary-score:first-child {
  background-color: hsla(0, 100%, 67%, 0.06);
}

.summary-score:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.06);
}

.summary-score:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.06);
}

.summary-score:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.06);
  margin-bottom: 0;
}

.summary-score:first-child .score-title {
  color: var(--light-red);
}

.summary-score:nth-child(2) .score-title {
  color: var(--orangey-yellow);
}

.summary-score:nth-child(3) .score-title {
  color: var(--green-teal);
}

.summary-score:nth-child(4) .score-title {
  color: var(--cobalt-blue);
}

.out-of {
  color: hsla(224, 30%, 27%, 0.5);
  flex: 1 1 0;
  text-align: right;
}

.out-of span {
  color: var(--dark-blue);
}

.summary-btn {
  width: 100%;
  margin-top: 4rem;
  color: var(--pale-blue);
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 10rem;
  padding: 1.6rem 0;
  background-color: var(--dark-blue);
}

.summary-btn:hover {
  background-image: linear-gradient(
    var(--background-result-1),
    var(--background-result-2)
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}

.attribution a {
  color: var(--dark-blue);
}

/* Responsiveness */
/* for tabelets */
@media (max-width: 800px) {
  .main {
    max-width: 64rem;
    flex-direction: column;
  }

  .main > * {
    padding: 2.4rem;
  }
}

/* for mobiles */
@media (max-width: 375px) {
  p {
    font-size: 1.6rem;
  }

  .primary-heading {
    font-size: 2rem;
  }

  .result {
    gap: 1.6rem;
  }

  .result .result-text {
    font-size: 2.4rem;
  }

  .result .result-summary {
    padding: 0 1.6rem;
    font-size: 1.4rem;
  }

  .score-display {
    width: 16rem;
    height: 16rem;
  }

  .score-display .score span {
    font-size: 6.4rem;
  }

  .summary-btn {
    margin-top: 2.4rem;
    padding: 1.2rem 0;
  }
}
